@import url('./components/components.css');
@import url('./pages/pages.css');

:root {
    --nav: #131313;
    --bgcolor: #f1f1ed;
    --color: white;
}



/* About Section */
.contact {
    background: var(--bgcolor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
    min-height: 100vh;
}

.about {
    background: var(--bgcolor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
    min-height: 100vh;
}

.about__title {
    /* text-align: center; */
    /* max-width: 500px; */
    /* min-width: 250px; */
    width: max-content;
    padding: 30px 50px;
    background-color: navy;
    cursor: pointer;

    margin: auto;
    margin-bottom: 50px;
    font-size: 4em;
    color: var(--color);
}

.about__cards__container {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
    row-gap: 30px;
}

.about__card {
    /* border: solid; */
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    cursor: pointer;
    box-shadow: 2px 2px 15px 0 black;
    transition: all 1s;
}

.about__card:hover {
    transform: rotate(10deg) scale(1.2);
    box-shadow: 5px 5px 25px 5px black;

}

.about__card__img__container {
    width: 100%;
    overflow: hidden;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.about__card__info {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}








/*  contact */
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 2rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}


.main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 10px;

}


.main__btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.3s ease;
    border-radius: 4px;
    z-index: -1;
}

.main__btn:hover::after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

.main__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00bdde, #fc00ff);
}

.fa-layer-group,
.fa-users {
    font-size: 14rem;
}

#card-2 {
    background: #ff512f;
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);
    border-radius: 10px;

}


/* mobile Responsive */
@media screen and (max-width:1100px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .about__title {
        font-size: 3em;
    }


    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 425px;
        width: 425px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5em;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;

    }
}


@media screen and (max-width:480px) {
    .about__title {
        font-size: 2em;
    }

    .main__img--card {
        width: 250px;
        height: 250px;
    }

    .fa-layer-group,
    .fa-user {
        font-size: 4rem;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;

    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}